@font-face {
    font-family: DFL;
    src: url("Assets/DFL.otf") format("opentype");
}
@font-face {
    font-family: DFL-Bold;
    src: url("Assets/DFL-Bold.otf") format("opentype");
}
@font-face {
    font-family: DFL-Light;
    src: url("Assets/DFL-Light.otf") format("opentype");
}
@font-face {
    font-family: DFL-Italic;
    src: url("Assets/DFL-Italic.otf") format("opentype");
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"DFL";
}
.navbar{
    width:90%;
    display:flex;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-between;
}
nav .menu{
    display: flex;
}
nav .menu li{
    list-style: none;
    margin: 0 10px;
}