@font-face {
    font-family: DFL;
    src: url("Assets/DFL.otf") format("opentype");
}
@font-face {
    font-family: DFL-Bold;
    src: url("Assets/DFL-Bold.otf") format("opentype");
}
@font-face {
    font-family: DFL-Light;
    src: url("Assets/DFL-Light.otf") format("opentype");
}
@font-face {
    font-family: DFL-Italic;
    src: url("Assets/DFL-Italic.otf") format("opentype");
}
header{
  height:100vh;
  width:100%;
  background:url("") no-repeatt;
  background-position:center;
  
}
::selection{
  background: "green";
}
header nav{
  position: fixed;
  width:100%;
  left:0;
  top:0;
  z-index:12;

}
.navbar{
  width:90%;
  display:flex;
  margin:20px auto 0 auto;
  align-items:center;
  justify-content:space-between;

}
nav .menu{
  display:flex;
  
}
nav .menu li{
  list-style: none;
  margin : 0 10px;
}
nav .menu a{
  color:blue;
  font-size: 20px;
  font-weight: 500;
  text-decoration:none;
}
nav .menu a:hover{
  color:black;
}
nav .search-box{
  position: relative;
  height:40px;
  width:250px;
}
 .search-box input[type="text"]{
   position:absolute;
   font-size:17px;
   height:100%;
   width:100%;
   border-radius: 8px;
   outline:none;
   color:brown;
   border: 2px solid blue;
   background:lightgoldenrodyellow;
   padding: 0 10px 0 40px;

 }
.search-box a{
  position: absolute;
  top:50%;
  left:10px;
  font-size:20px;
  transform:translateY(-50%)
}
