{% extends 'base.html' %}
{% block title %}
    Admin Login
{% endblock %}

{% block content %}
<body class="text-center">
    
    <div class="container">

        <table class="table table-striped tabledesing">
            <h1 class="h3 mb-3 font-weight-normal">
                Patient Details
            </h1>
            <thead>
                <tr>
                  <th scope="col">USERNAME</th>
                  <th scope="col">EMAIL-ADDRESS</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Options</th>
                  <!-- <th scope="col">Price</th>
                  <th scope="col">Decription</th> -->
                </tr>
              </thead>
              <tbody>
            {% for product in products %}
            <tr>
            
                      
                       <td>{{ product.username }}</td>
                       <td>{{ product.email_address }}</td>
                       <td>{{ product.id }}</td>
                       <td>
                        <a class="btn btn-outline btn-info" href="{{ url_for('edit_patient_page' , page_id = product.id )}}">Edit</a>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#{{ product.id }}">Delete</button>
                    </td>
                    
            </tr>
            {% endfor %}
            </tbody>
            </table>
       
    </div>
</body>
{% endblock %}
