{% extends 'base.html' %}
{% block title %}
    Admin Login
{% endblock %}

{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2>Available items on the Market</h2>
        <h2>{{ page_id }}</h2>
        <button class="btn btn-outline btn-info" href="{{url_for('indexone' , page_id = page_id)}}">Scheduke</button>
        <br>
        <!-- <p>{{items}} </p> -->
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Body Site</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Severity</th>
                    <th scope="col">last_updated</th>
                    <th scope="col">User Id</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in past_history %}
                {% include 'includes/edit_admin_products.html' %}
                <!-- this is JIJNA SYNTAX  is a template which help to write logic of python programming in html -->
                <tr>
                    <th>{{ item.id }}</th>
                    <td>{{ item.problem }}</td>
                    <td>{{ item.body_site }}</td>
                    <td>{{item.dateTime}}</td>
                    <td>{{ item.severity }}</td>
                    <td>{{item.last_updated}}</td>
                    <td>{{item.user_id}}</td>
                    <td><button class="btn btn-outline btn-info" data-toggle="modal"
                        data-target="#Modal-MoreInfo-products-{{ item.id }}">Edit</button>
                    </td>
                    <!-- <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">immunisation_item</th>
                    <th scope="col">route</th>
                    <th scope="col">target_site</th>
                    <th scope="col">sequence_no</th>
                    <th scope="col">User Id</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in immunisation %}
                {% include 'includes/edit_admin_immunisation.html' %}
                {}
                <!-- this is JIJNA SYNTAX  is a template which help to write logic of python programming in html -->
                <tr>
                    <th>{{ item.id }}</th>
                    <td>{{ item.immunisation_item }}</td>
                    <td>{{ item.route }}</td>
                    <td>{{item.target_site}}</td>
                    <td>{{ item.sequence_no }}</td>
                    <td>{{item.user_id}}</td>
                    <td><button class="btn btn-outline btn-info" data-toggle="modal"
                        data-target="#Modal-MoreInfo-products-{{ item.id }}">Edit</button>
                    </td>
                    <!-- <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-body">
        <form method="POST" class="form-register" style="color:white">
          {{ form.hidden_tag() }}
         
          <br>
          {{ form.immunisation_item.label() }}
          {{ form.immunisation_item(class="form-control", placeholder= "immunisation_item" ) }}

          {{ form.route.label() }}
          {{ form.route(class="form-control", placeholder="route") }}

          {{ form.target_site.label() }}
          {{ form.target_site(class="form-control", placeholder="target_site") }}

          {{ form.sequence_no.label() }}
          {{ form.sequence_no(class="form-control", placeholder="sequence_no") }}

          
          <br>
          {{ form.submit(class="btn btn-lg btn-block btn-primary",label="Update Product") }}

      </form>
      </div>
    <!-- <div class="col-4">
        <h2>Owned Items</h2>
        <p>Click on return this item to put an item back on the Market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                            data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            Return this Item
                        </button>
                        <p class="card-text"><strong>
                                This item costs Rs {{ owned_item.price }}
                            </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
{% endblock %}
