<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<b>Hey,</b>
<p>
    It’s OnlineConsultation reminding you of your appointment this APPOINTMENT DATE AND TIME. <br>
    If you need to cancel or reschedule, you can do so online or by replying to this text message at least TIME FRAME before your appointment to avoid charges. 
    <a href='{{ eventlink }}'>APPOINTMENT</a>
    <br>
    <br>
    <br>
    <br>
    Thanks and Regards,
    HackFest
</p>
</body>
</html>
