{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}

{% block content %}
<script>
    function myfunction()
{
    if (document.getElementById("displaytable").style.display === "none")
        document.getElementById("displaytable").style.display="block";
    else
        document.getElementById("displaytable").style.display="none";
}
</script>


<div class="row" style="margin-top:20px; margin-left:20px" id="tab1">
    <div class="col-8">
        <h1>PatientHistory Table</h1>
    </div>
    </div>    
        <!-- <p>{{items}} </p> -->
        <table class="table table-hover tabledesing" id="table1">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Body Site</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Severity</th>
                    <th scope="col">last_updated</th>
                    <th scope="col">User Id</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in past_history %}
                <!-- this is JIJNA SYNTAX  is a template which help to write logic of python programming in html -->
                <tr>
                    <th>{{ item.id }}</th>
                    <td>{{ item.problem }}</td>
                    <td>{{ item.body_site }}</td>
                    <td>{{item.dateTime}}</td>
                    <td>{{ item.severity }}</td>
                    <td>{{item.last_updated}}</td>
                    <td>{{item.user_id}}</td>
                    <!-- <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row" style="margin-top:20px; margin-left:20px" id="tab2">
            <div class="col-8">
                <h1>PatientImmunisation Table</h1>
            </div>
            </div> 
        <table class="table table-hover tabledesing" id="table2">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">immunisation_item</th>
                    <th scope="col">route</th>
                    <th scope="col">target_site</th>
                    <th scope="col">sequence_no</th>
                    <th scope="col">User Id</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in immunisation %}
                <!-- this is JIJNA SYNTAX  is a template which help to write logic of python programming in html -->
                <tr>
                    <th>{{ item.id }}</th>
                    <td>{{ item.immunisation_item }}</td>
                    <td>{{ item.route }}</td>
                    <td>{{item.target_site}}</td>
                    <td>{{ item.sequence_no }}</td>
                    <td>{{item.user_id}}</td>
                   
                    <!-- <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row" style="margin-top:20px; margin-left:20px" id="tab3">
            <div class="col-8">
                <h1>PatientPrescription Table</h1>
            </div>
            </div> 
        <table class="table table-hover tabledesing" id="table3">
            
           <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">medicinename</th>
                    <th scope="col">substancename</th>
                    <th scope="col">medicinetype</th>
                    <th scope="col">dosagestrength</th>
                    <th scope="col">unitstrength</th>
                    <th scope="col">methoddosage</th>
                    <th scope="col">instructiondosage</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in prescription %}
                <!-- this is JIJNA SYNTAX  is a template which help to write logic of python programming in html -->
                <tr>
                    <th>{{ item.id }}</th>
                    <td>{{ item.medicinename }}</td>
                    <td>{{ item.substancename }}</td>
                    <td>{{item.medicinetype}}</td>
                    <td>{{ item.dosagestrength }}</td>
                    <td>{{ item.unitstrength }}</td>
                    <td>{{ item.methoddosage }}</td>
                    <td>{{ item.instructiondosage }}</td>
                    <td>{{item.user_id}}</td>
                   
                    <!-- <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
  <script>
      var button1 = document.getElementById(tab1);
      button.onclick = function() {
    var div = document.getElementById('table1');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
  </script>
    <!-- <div class="col-4">
        <h2>Owned Items</h2>
        <p>Click on return this item to put an item back on the Market</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                            data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                            Return this Item
                        </button>
                        <p class="card-text"><strong>
                                This item costs Rs {{ owned_item.price }}
                            </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
{% endblock %}